{% include 'header.html' %}

        <!--- memanggil sidebar -->
        {% include 'navbar.html' %}


                <!-- Panggil Topbar-->
                {% include 'sidebar.html'%}

                <div class="main-panel">
                    <div class="content">
                        <div class="page-inner">

                            
                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-center mb-4">
                                <h1 class="h3 text-center">
                                    PENGARUH METODE PENGUKURAN JARAK DAN SMOTE DALAM KLASIFIKASI PENILAIAN KREDIT
                                </h1>
                            </div>
                            <!-- Content Row -->
                            <div class="row">
                                <div class="col-lg text-center">
                                    <img src="{{ url_for('static', filename='img/logo.unjani.png') }}" alt="" width="190px" height="190px">
                                </div>
                            </div>
                            <!-- Content Row -->
                            <div class="row mt-4">
                                <div class="col-sm text-center">
                                    <p>
                                        <b>PEMBIMBING 1</b><br>
                                        Yulison Herry Chrisnanto, S.T., M.T <br>
                                        NID. 4121 668 63
                                    </p>
                                </div>
                                <div class="col-sm text-center">
                                    <p>
                                        <b>PEMBIMBING 2</b><br>
                                        Gunawan Abdillah, S.Si., M.Cs <br>
                                        NID. 4121 571 75
                                    </p>
                                </div>
                            </div>
                            <!-- Content Row -->
                            <div class="row mt-4">
                                <div class="col-sm text-center">
                                    <p>
                                        Oleh :<br>
                                        <b>RIFAL FADILAH<br>
                                        NIM. 3411 201 115</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

    {% include 'footer.html' %}
