<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <div class="user">
                <div class="avatar-sm float-left mr-2">
                    <img src="{{ url_for('static', filename='img/cc.jpeg') }}" alt="sidebar" class="avatar-img rounded-circle">
                </div>
                <div class="info">
                    <a href="#collapseExample">
                        <span>
                            ItsmeTelur
                            <span class="user-level">3411201115</span>
                        </span>
                    </a>
                    <div class="clearfix"></div>

                </div>
            </div>
            <ul class="nav nav-primary">
                <li class="nav-item active">
                    <a href="\">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Components</h4>
                </li>
                <li class="nav-item">
                    <a href="\dataset">
                        <i class="fas fa-layer-group"></i>
                        <p>Dataset</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="\klasifikasi">
                        <i class="fas fa-pen-square"></i>
                        <p>Klasifikasi</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="\evaluasi">
                        <i class="fas fa-table"></i>
                        <p>Evaluasi</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Sidebar -->